<h2>Registro de cliente</h2>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <form>
      <div class="form-group">
        <label for="registro-fullname">Nombre completo</label>
        <input type="text" class="form-control" id="registro-fullname" placeholder="Nombre completo">
      </div>
      <div class="form-group">
        <label for="registro-email">E-mail</label>
        <input type="email" class="form-control" id="registro-email" placeholder="Apellido">
      </div>
      <div class="form-group form-inline">
        <p>
          <label for="registro-email">Fecha de nacimiento</label>
        </p>  
        <div class="form-group">
            <label for="exampleInputName2">Día</label>
            <input type="text" class="form-control txt-small" id="registro-birthdate-day">
        </div>
        <div class="form-group">
          <label for="registro-birthdate-month">Mes</label>
          <input type="text" class="form-control txt-small" id="registro-birthdate-month">
        </div>
        <div class="form-group">
          <label for="registro-birthdate-year">Año</label>
          <input type="text" class="form-control txt-small" id="registro-birthdate-year">
        </div>
      </div>
      
      <div class="form-group">
        <label for="registro-address">Dirección</label>
        <input type="text" class="form-control" id="registro-address" placeholder="Dirección">
      </div>

      <div class="form-group">
        <label for="registro-password">Contraseña</label>
        <input type="password" class="form-control" id="registro-password" placeholder="********">
      </div>

      <div class="form-group">
        <label for="registro-phone">Teléfono</label>
        <input type="text" class="form-control" id="registro-phone" placeholder="Teléfono">
      </div>
      
      <a class="btn btn-primary" href="/#store" role="button">Cancelar</a>
      <button type="submit" class="btn btn-link">Registrarse</button>
    </form>
  </div>
</div>